<div class="jumbotron jumbotron-fluid jumbotron-pro">
    <div class="container">
        <h1 class="display-4">
            Hackathon
        </h1>
        <p class="lead">
            Sharpen your coding skills
        </p>
        <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.
        </p>
        <p>
            <a class="btn btn-primary btn-lg" href="https://www.eventbrite.de/" role="button">
                Register
            </a>
        </p>
    </div>
</div>
